<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.dao.IStudentDao">
    <select id="selectStudentsByCondition" resultType="Student">
        select id, name, age, score
        from student
        where name like '%' #{arg0} '%'
        and age > #{arg1}
    </select>
    <!--
        #{}中可以放什么内容？
        1)参数对象的属性；
        2)随意内容，此时的#{}是个占位符；
        3)参数为Map时的key；
        4)参数为Map时，若key所对应的value为对象，则可将该对象的属性放入；
        5)参数的索引号(arg0/arg1/param0/param1)。
     -->
</mapper>