<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.dao.INewsLabelDao">
    <resultMap id="newsLabelMapper" type="NewsLabel">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <collection property="children" ofType="NewsLabel" select="selectChildrenByParent" column="id"/>
    </resultMap>
    <select id="selectChildrenByParent" resultMap="newsLabelMapper">
        select id, name
        from newslabel
        where pid = #{pid}
    </select>
</mapper>